body {

	margin: 0;
	padding: 0;
	background-color: grey;
	font: 'Georgia';
	color: white;

}
#container{
	margin: 0 auto;
	padding: 20px 0 0 0;
	width: 700px;
	background-color: black;
	

}
#header{
	margin:auto;
	width:700px;
	height:250px;
	background-size; 100% 100%;
	background-image: url("../Poze/aero2.jpg");
	background-position: center 50%;
	background-repeat: no-repeat

}
.headtitle{	
	
	font-family: 'Comic Sans';
	font-size: 30px;
	color: white;
	position: relative;
	top:200px;
	left: 10px;
	

}
#meniu{

	margin: -10 28% 0;
	padding: 5px 0;
	height: 10px;
	

}
#meniu ul{

	margin: 0;
	height: 50px;
	padding: 10px;
	width: 500px;
}
#meniu ul li {
	
	list-style: none;
	display: inline;


}
#meniu ul li a:link, #meniu ul li a:active, #meniu ul li a:visited{

	color: #;
	padding: 8px 6px 8px 2px;
	font-weight:bold;
	text-decoration: none;
	
}
#meniu ul li a:hover{

	background-color: yellow;
	color:orange;
	
	
}
#content{

	background-color: orange;
	margin: auto;
	
	

}
content p{ 

	margin: 5px;
	font-family: Times;
	text-align: justify;
	



}
#content p:: first letter{
	color:black;
	font-family: Comic;
}
#footer {

	margin: 5px 6px 5px 6px;
	text-align:justify;
	position : relative;
	height: 40px;
}
	

